<?xml version="1.0" encoding="UTF-8"?>



<AMPSConfig>

  <!-- Name of the AMPS instance -->

  <Name>SolutionArchitects</Name>

  <!-- Configure the administrative HTTP server on port 8085

       This HTTP server provides admin functions and statistics
       for the instance
   -->

  <Admin>
    <InetAddr>localhost:8085</InetAddr>
    <SQLTransport>TraderWorkstation-WebSocket</SQLTransport>
  </Admin>

  <!-- Configure a transport that accepts any known message type over
       TCP port 9007 using the amps protocol. -->

  <Transports>
    <Transport>
      <Name>TraderWorkstation-tcp</Name>
      <Type>tcp</Type>
      <InetAddr>9007</InetAddr>
      <Protocol>amps</Protocol>
    </Transport>

    <Transport>
      <Name>TraderWorkstation-WebSocket</Name>
      <Type>tcp</Type>
      <InetAddr>9010</InetAddr>
      <Protocol>websocket</Protocol>
    </Transport>

  </Transports>


  <SOW>
    <!-- Simple SOW topic definition -->
    <Topic>
      <Name>TraderWorkstation/marketData</Name>
      <Key>/Id</Key>
      <MessageType>json</MessageType>
      <FileName>./sow/%n.sow</FileName>
    </Topic>

    <Topic>
      <Name>TraderWorkstation/BenchMarkMarketData</Name>
      <Key>/Cusip</Key>
      <MessageType>json</MessageType>
      <FileName>./sow/%n.sow</FileName>
    </Topic>

    <Topic>
      <Name>TraderWorkstation/BondMarketData</Name>
      <Key>/Cusip</Key>
      <MessageType>json</MessageType>
      <FileName>./sow/%n.sow</FileName>
    </Topic>

    <Topic>
      <Name>TraderWorkstation/BondMarketDataInternal</Name>
      <Key>/Cusip</Key>
      <MessageType>json</MessageType>
      <FileName>./sow/%n.sow</FileName>
    </Topic>


    <View>
      <Name>TraderWorkstation/CalculatedMarketData</Name>
      <UnderlyingTopic>
        <Join>[TraderWorkstation/BondMarketData].[/BenchMarkCusip]=[TraderWorkstation/BenchMarkMarketData].[/Cusip]</Join>
        <Join>[TraderWorkstation/BondMarketData].[/Cusip]=[TraderWorkstation/BondMarketDataInternal].[/Cusip]</Join>
      </UnderlyingTopic>
      <MessageType>json</MessageType>
      <Projection>
        <Field>[TraderWorkstation/BondMarketData].[/Cusip]</Field>
        <Field>[TraderWorkstation/BondMarketData].[/Price]</Field>
        <Field>[TraderWorkstation/BondMarketData].[/Yield]</Field>

         <Field>[TraderWorkstation/BondMarketDataInternal].[/Cusip] as /CusipInternal</Field>
        <Field>[TraderWorkstation/BondMarketDataInternal].[/Price] as /PriceInternal</Field>
        <Field>[TraderWorkstation/BondMarketDataInternal].[/Yield] as /YieldInternal</Field>

        <Field>[TraderWorkstation/BenchMarkMarketData].[/Cusip] as /BenchMarkCusip</Field>
        <Field>[TraderWorkstation/BenchMarkMarketData].[/Price] as /BenchMarkPrice</Field>
        <Field>[TraderWorkstation/BenchMarkMarketData].[/Yield] as /BenchMarkYield</Field>

        <Field>[TraderWorkstation/BondMarketData].[/Yield] - [TraderWorkstation/BenchMarkMarketData].[/Yield] as /Spread</Field>
        <Field>[TraderWorkstation/BondMarketDataInternal].[/Yield] - [TraderWorkstation/BenchMarkMarketData].[/Yield] as /InternalSpread</Field>
      </Projection>
      <Grouping>
        <Field>[TraderWorkstation/BondMarketData].[/Cusip]</Field>
      </Grouping>
    </View>

  </SOW>

  <!-- Log messages of severity 'error' and higher to stdout.
      Also include 00-0015 (an 'info' level message) to indicate
      successful startup. -->

  <Logging>
    <Target>
      <Protocol>stdout</Protocol>
      <Level>info</Level>
      <IncludeErrors>00-0015</IncludeErrors>
    </Target>
  </Logging>

  <Actions>
    <Action>
      <On>
        <Module>amps-action-on-startup</Module>
      </On>
      <Do>
        <Module>amps-action-do-echo-message</Module>
        <Options>
          <Message>instance={{AMPS_INSTANCE_NAME}}</Message>
        </Options>
      </Do>
    </Action>
    <Action>
      <On>
        <Module>amps-action-on-disconnect-client</Module>
      </On>
      <Do>
        <Module>amps-action-do-echo-message</Module>
        <Options>
          <Message>AMPS Client Disconnected : {{AMPS_CLIENT_NAME}}</Message>
        </Options>
      </Do>
    </Action>
  </Actions>

</AMPSConfig>

